body {
  font-size: 14px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: 300;
}
.mce-content-body p {
  margin: 0px 0;
}
.mce-content-body ol,
.mce-content-body ul {
  margin-left: 15px;
  list-style-position: outside;
  margin-bottom: 20px;
}
.mce-content-body ol li,
.mce-content-body ul li {
  margin-left: 10px;
  margin-bottom: 10px;
  color: #626262;
}
.mce-content-body ul {
  list-style-type: disc;
}
.mce-content-body ol {
  list-style-type: decimal;
}
.mce-content-body a[href] {
  text-decoration: underline;
}
.mce-content-body table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #aaaaaa;
}
.mce-content-body table tr:nth-child(even) {
  background: #fafafa;
}
.mce-content-body table caption,
.mce-content-body table td,
.mce-content-body table th {
  padding: 15px 7px;
  font: inherit;
}
.mce-content-body table th {
  font-weight: 400;
  color: #6E6E6E;
  background-position: 100% 100%;
  background-size: 2px 10px;
  background-repeat: no-repeat;
}
.mce-content-body table th:last-child {
  background: 0 0;
}
.mce-content-body img { max-width:100%; }
