.widget_adv_image, .widget_adv_image .container {  display:block}
.widget_adv_image .row2{margin:0 -5px;}
.widget_adv_image .item  {
display: block;float: left;width: 33.33%;padding: 5px;
}
.widget_adv_image  .inner_content{overflow:hidden;}
.widget_adv_image  a .img img{width:100%;}
/* .widget_adv_image  a{    position: relative;display: block;width: 100%;padding-top: 35%;height: inherit;border-radius: 0 !important;overflow: hidden;}
.widget_adv_image  a .img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;overflow: hidden;}
.widget_adv_image  a .img img{min-height: 100%;min-width: 100%;position: relative;left: 50%;top: 50%;transform: translateY(-50%) translateX(-50%);display: inherit;transition: all .5s ease-in-out;}
.widget_adv_image img  { width: 100%; } */

        .widget_adv_image  a {position: relative;display: block;width: 100%;padding-top: 30%;height:inherit;    border-radius: 0; overflow: hidden;border:1px solid #f6f6f6;}
        .widget_adv_image  a  .img {    position: absolute;top: 0;left: 0;width: calc(100% );height: calc(100% );display: flex;align-items: center;justify-content: center;overflow: hidden;}
        .widget_adv_image  a  .img  img{min-height: 100%;min-width: 100%;position: relative;left: 50%;top: 50%;transform: translateY(-50%) translateX(-50%);display: inherit;transition: all .5s ease-in-out;}
        /** breadcrumb */

@media(max-width:600px) {
	
    .widget_adv_image, .widget_adv_image .container { display: block; }

    .widget_adv_image .item { padding:5px 0; width: 100%; }

}