.partner {
	position: relative; overflow:hidden;
}
.partner .arrow {
	background-color:rgba(0, 0, 0, 0.7); color:#fff;
	height: 40px; width: 40px; line-height:40px;text-align:center;
	position: absolute; top:30%; z-index: 9; cursor: pointer;
}

.partner .prev { transition:all 0.5s; right:-100px; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; }
.partner .next { transition:all 0.5s; left:-100px;}
.partner:hover .partner_arrow .prev { right:20px; }
.partner:hover .partner_arrow .next { left:20px; }

.widget_box_partner .header-title h2.header{color:#313131;position:relative;text-transform: uppercase;}
.widget_box_partner .header-title h2.header::after{content:'';position:absolute;width:100px;height:3px;background-color:#313131;left:calc(50% - 50px);bottom:-15px;z-index:999;}