.widget_box_post_style_2 { padding: 0;overflow: hidden; }
.widget_box_post_style_2 .post-main .item { overflow: hidden; margin-bottom: 10px; }
.widget_box_post_style_2 .post-list .item { overflow: hidden; margin-bottom: 10px; }
.widget_box_post_style_2 .post-list .item:last-child{margin:0;}
.widget_box_post_style_2 .post-list .item .img { float: left; width: 35%; }
.widget_box_post_style_2 .post-main .item .xemthem{position:absolute;bottom:0;right:5px;z-index:99;}
.widget_box_post_style_2 .post-main .item .xemthem a{color:#8a3b3b;font-style: italic}
.widget_box_post_style_2 .post-main .item .xemthem a:hover{color:#000;}

.widget_box_post_style_2 .item .img .inner_img2{position: relative;display: block;width: 100%;padding-top: 75%;height:inherit;    border-radius: 0; overflow: hidden;border:1px solid #cdcdcd;box-shadow:0 0 5px #cdcdcd;border-radius:5px;}
.widget_box_post_style_2 .item .img .inner_img2 a{    position: absolute;top: 0;left: 0;width: calc(100%);height: calc(100% );display: flex;align-items: center;justify-content: center;overflow: hidden;border-radius:5px;}
.widget_box_post_style_2 .item .img .inner_img2 a img{min-height: 100%;min-width: 100%;position: relative;left: 50%;top: 50%;transform: translateY(-50%) translateX(-50%);display: inherit;transition: all .5s ease-in-out;}
.widget_box_post_style_2 .post-main .item .img .inner_img2{padding-top: 65%;}

.widget_box_post_style_2 .post-list .item .title { float: left; width:calc(65%); padding-left: 10px; }
.widget_box_post_style_2 .post-list .item .title h3 { margin-top: 0; font-size: 13px; font-weight: bold; color:#000; }
.widget_box_post_style_2 .item .title h3 a { color:#ff9900; }
.widget_box_post_style_2 {position:relative;background-size:100% 100% !important;background-attachment: inherit !important}
.widget_box_post_style_2  .post-video-right{position:relative;float:left;width:60%;padding:0 15px;}
.widget_box_post_style_2  .post-video-right .box-content-right{display: flex;}
.widget_box_post_style_2 .header-title{padding-bottom:20px;}
.widget_box_post_style_2  .post-video-left{position:relative;float:left;width:40%;padding:0 15px;}
.widget_box_post_style_2  .post-video-right .box-content-right{background-color:#fff;border-radius: 10px;}
.post-video-left .video_top .item {}
.post-video-left .video_top .item  .img{position: relative;display: block;width: 100%;padding-top: 60%;height:inherit;    border-radius: 0; overflow: hidden;}
.post-video-left .video_top .item  .img a{    position: absolute;top: 0;left: 0;width: calc(100% );height: calc(100% );display: flex;align-items: center;justify-content: center;overflow: hidden;}
.post-video-left .video_top .item  .img img.img_maint{min-height: 100%;min-width: 100%;position: relative;left: 50%;top: 50%;transform: translateY(-50%) translateX(-50%);display: inherit;transition: all .5s ease-in-out;}
.widget_box_post_style_2 .post-list ,.widget_box_post_style_2 .post-main{background-color:#fff;padding:0;} 
.widget_box_post_style_2 .post-list{border-radius:0 10px 10px 0;padding-left:15px;}
.widget_box_post_style_2 .post-main{border-radius: 10px 0 0 10px ;}
.widget_box_post_style_2 .post-main h3{margin: 5px 0;font-size:14px;color:rgb(74, 144, 226);}
.widget_box_post_style_2  .item .title .excerpt{line-height:1.3;}
.widget_box_post_style_2 .post-list .item .title .excerpt{font-size:12px;}
.widget_box_post_style_2 .item .title .excerpt{font-size:13px;}
