.widget_tgdd_slider {
    overflow: hidden;
    position: relative;
    /* background: #fd8989; */
}

.widget_tgdd_slider .col-xs-13 {padding:0;}

#sync1 .item {
    background: #f8f8f8;
    text-align: center;
    height: 300px;
    color: #fff
}

#sync1>.item { display: none }

#sync1>.item:first-child {
    display: block
}

#sync2 {
    display: block;
    width: 100%;
    background: #fff;
    height: 55px
}

#sync2 .owl-item {
    height: 55px;
    position: relative
}

#sync2 .owl-item:after {
    content: '';
    float: right;
    height: 30px;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 13px;
    right: 0
}

#sync2 .owl-item:last-child:after {
    border: 0
}

#sync2 .item {
    display: table;
    width: 98%;
    vertical-align: middle;
    position: relative;
    background: #fff;
    color: #666;
    text-align: center;
    cursor: pointer;
    height: 55px;
    font-size: 12px;
    padding: 0 1%
}

#sync2 .item h3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3em;
    display: inline-block;
    vertical-align: middle;
    display: table-cell
}

#sync2 .synced .item h3 {
    font-weight: bold
}

.widget_tgdd_slider .wg_slider_btn {
    position: absolute;
    top: 45%;
    height: 0;
    width: 100%;
    z-index:999;
    display: none
}

.widget_tgdd_slider:hover .wg_slider_btn {
    display: block
}

.widget_tgdd_slider .wg_slider_btn .prev, .widget_tgdd_slider .wg_slider_btn .next {
    position: absolute;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0, 0, 0, .5);
    width: 48px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: -webkit-body;
    cursor: pointer;
}

.widget_tgdd_slider .wg_slider_btn .prev {
    left: 10px;
}

.widget_tgdd_slider .wg_slider_btn .next {
    right: 10px;
}
.slider-right .slider-banner { padding-bottom:0 ; }
.slider-right .slider-banner a { display:block; margin-bottom:6px; }
.slider-right .slider-banner a img { width:100%; }